*{
margin:0px;
padding:0px;
}
.clearfix{
*zoom:1;
}
.clearfix:after{
display:table;
content:"";
clear:both;
}
.fl{
float:left;
}
.fr{
float:right;
}
.top{
text-align:center;
margin:10px auto;
width:1300px;
}
h3{
color:#999;
font-weight:500;
height:60px;
line-height:60px;
margin-left:20px;
font-size:22px;
}
.content{
background:#e93854;
height:475px;
}
.middle{
background:url(banner.png) no-repeat center top;
width:1300px;
height:475px;
margin:10px auto;
text-align:center;
}
.middle_right{
background:white;
margin-top:60px;
margin-right:200px;
float:right;
width:320px;
/*border:2px solid yellow;*/
}
.middle_right_top h4{
color:#666;
font-size:20px;
font-weight:normal;
margin-left:20px;
margin-top:20px;
overflow:hidden;
}
.middle_right_top a{
color:red;
text-decoration:none;
font-size:16px;
font-weight:normal;
margin-top:20px;
margin-right:4px;
padding:0px 20px;
background:url(icon5.jpg) no-repeat left center;
}
.txt{
margin-left:20px;
margin-top:20px;
}
.img1{
background:url(icon1.jpg);
height:38px;
width:38px;
border:1px solid #ccc;
}
.input1{
height:38px;
width:240px;
outline:none;
border:1px solid #ccc;
border-left:none;
padding-left:4px;
}
.pwd{
margin-left:20px;
margin-top:20px;
}
.img2{
background:url(icon2.jpg);
height:38px;
width:38px;
border:1px solid #ccc;
}
.input2{
height:38px;
width:240px;
outline:none;
border:1px solid #ccc;
border-left:none;
}
.check{
margin-left:20px;
margin-top:20px;
}
.check span{
font-size:14px;
color:#666;
height:12px;
line-height:12px;
}
.check a{
color:#666;
text-decoration:none;
font-size:14px;
padding-left:146px;
}
.sub{
margin-left:20px;
margin-top:20px;
}
.sub .sub1{
height:38px;
width:280px;
background:#e4393c;
color:white;
font-size:18px;
border:none;
margin-bottom:20px;
}
.foot{
margin:20px auto;
font-size:12px;
text-align:center;
}
.foot_top a{
color:#666;
padding:0px 5px;
text-decoration:none;
}
.foot_bottom{
color:#666;
padding:0px 10px;
margin-top:10px;
}


